body {
    margin: 0;
    padding: 0;
    background: url(背景.jpg) no-repeat;
    background-size: cover;
    height:100%;
}

.box {
    color: rgb(62, 82, 79);
    width: 450px;
    background: rgba(239, 241, 240, 0.146);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    font-family: 'Century Gothic', sans-serif;
}

.box .box-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.box h1 {
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 400;
}

.box h2 {
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 300;

}
.box h2 {
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 300;

}
.box h3{
    color: black;
}
.one {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(38, 5, 5);
}
.one:hover{ 
        color:red;     
        /* 改变超链接的字体颜色 */ 

}
