
table,td,th{
    width:700px; 
    margin: auto;
}
table{
   border: 1px solid white; 
   margin:auto;
}


tr{
    color: rgb(244, 249, 243);
    font: size 20px;
    font-weight: bold;
}
caption{
    color: rgb(238, 242, 237);
    font-size: 50px;
    font-weight: bold;
}
a{
text-decoration: none;
color: rgb(232, 242, 233);
font-size: 50px;
}
.a1:hover{ 
        color:red;     
        /* 改变超链接的字体颜色 */ 
}
